<div class="app-sidebar__list">
  @for (menuItem of menu; track menuItem; let i = $index) {
    <div class="app-sidebar__list__inner">
      <youpez-menu-header [groupName]="menuItem.groupName"
        [opened]="menuItem.opened"
      (toggle)="onGroupToggle(menuItem.groupName)"></youpez-menu-header>
      <div class="app-sidebar__list__group" [ngClass]="{'app-sidebar__list__group--opened':menuItem.opened}">
        @for (subMenuItem of menuItem.children; track subMenuItem; let i = $index) {
          <app-menu-item [item]="subMenuItem"
            (toggle)="onToggle($event)"
          #menuLevel></app-menu-item>
        }
      </div>
    </div>
  }
</div>

