
@switch (iconName) {
  @case ('home') {
    <svg ibmIconHome [size]="iconSize"></svg>
  }
  @case ('application') {
    <svg ibmIconApplication [size]="iconSize"></svg>
  }
  @case ('help') {
    <svg ibmIconHelp [size]="iconSize"></svg>
  }
  @case ('add') {
    <svg ibmIconAdd [size]="iconSize"></svg>
  }
  @case ('aperture') {
    <svg ibmIconAperture [size]="iconSize"></svg>
  }
  @case ('search') {
    <svg ibmIconSearch [size]="iconSize"></svg>
  }
  @case ('notification') {
    <svg ibmIconNotification [size]="iconSize"></svg>
  }
  @case ('chat') {
    <svg ibmIconChat [size]="iconSize"></svg>
  }
  @case ('user') {
    <svg ibmIconUser [size]="iconSize"></svg>
  }
  @case ('tools') {
    <svg ibmIconTools [size]="iconSize"></svg>
  }
  @case ('arrowUp') {
    <svg ibmIconArrowUp [size]="iconSize"></svg>
  }
  @case ('arrowDown') {
    <svg ibmIconArrowDown [size]="iconSize"></svg>
  }
  @case ('arrowLeft') {
    <svg ibmIconArrowLeft [size]="iconSize"></svg>
  }
  @case ('arrowRight') {
    <svg ibmIconArrowRight [size]="iconSize"></svg>
  }
  @case ('cloudDataOps') {
    <svg ibmIconCloudDataOps [size]="iconSize"></svg>
  }
  @case ('virtualPrivateCloudAlt') {
    <svg ibmIconVirtualPrivateCloudAlt [size]="iconSize"></svg>
  }
  @case ('checkMarkOutline') {
    <svg ibmIconCheckmarkOutline [size]="iconSize"></svg>
  }
  @case ('checkmark') {
    <svg ibmIconCheckmark [size]="iconSize"></svg>
  }
  @case ('checkmarkFilled') {
    <svg ibmIconCheckmarkFilled [size]="iconSize"></svg>
  }
  @case ('caretRight') {
    <svg ibmIconCaretRight [size]="iconSize"></svg>
  }
  @case ('caretLeft') {
    <svg ibmIconCaretLeft [size]="iconSize"></svg>
  }
  @case ('renew') {
    <svg ibmIconRenew [size]="iconSize"></svg>
  }
  @case ('alarm') {
    <svg ibmIconAlarm [size]="iconSize"></svg>
  }
  @case ('minimize') {
    <svg ibmIconMinimize [size]="iconSize"></svg>
  }
  @case ('cloudDownload') {
    <svg ibmIconCloudDownload [size]="iconSize"></svg>
  }
  @case ('analytics') {
    <svg ibmIconAnalytics [size]="iconSize"></svg>
  }
  @case ('activity') {
    <svg ibmIconActivity [size]="iconSize"></svg>
  }
  @case ('dashboard') {
    <svg ibmIconDashboard [size]="iconSize"></svg>
  }
  @case ('dashboardReference') {
    <svg ibmIconDashboardReference [size]="iconSize"></svg>
  }
  @case ('task') {
    <svg ibmIconTask [size]="iconSize"></svg>
  }
  @case ('catalog') {
    <svg ibmIconCatalog [size]="iconSize"></svg>
  }
  @case ('document') {
    <svg ibmIconDocument [size]="iconSize"></svg>
  }
  @case ('email') {
    <svg ibmIconEmail [size]="iconSize"></svg>
  }
  @case ('send') {
    <svg ibmIconSend [size]="iconSize"></svg>
  }
  @case ('sendAlt') {
    <svg ibmIconSendAlt [size]="iconSize"></svg>
  }
  @case ('userAdmin') {
    <svg ibmIconUserAdmin [size]="iconSize"></svg>
  }
  @case ('userAvatar') {
    <svg ibmIconUserAvatar [size]="iconSize"></svg>
  }
  @case ('folder') {
    <svg ibmIconFolder [size]="iconSize"></svg>
  }
  @case ('folderShared') {
    <svg ibmIconFolderShared [size]="iconSize"></svg>
  }
  @case ('recentlyViewed') {
    <svg ibmIconRecentlyViewed [size]="iconSize"></svg>
  }
  @case ('image') {
    <svg ibmIconImage [size]="iconSize"></svg>
  }
  @case ('imageSearch') {
    <svg ibmIconImageSearch [size]="iconSize"></svg>
  }
  @case ('error') {
    <svg ibmIconError [size]="iconSize"></svg>
  }
  @case ('phraseSentiment') {
    <svg ibmIconPhraseSentiment [size]="iconSize"></svg>
  }
  @case ('tableSplit') {
    <svg ibmIconTableSplit [size]="iconSize"></svg>
  }
  @case ('chartColumn') {
    <svg ibmIconChartColumn [size]="iconSize"></svg>
  }
  @case ('magicWand') {
    <svg ibmIconMagicWand [size]="iconSize"></svg>
  }
  @case ('textTracking') {
    <svg ibmIconTextTracking [size]="iconSize"></svg>
  }
  @case ('textCreation') {
    <svg ibmIconTextCreation [size]="iconSize"></svg>
  }
  @case ('trashCan') {
    <svg ibmIconTrashCan [size]="iconSize"></svg>
  }
  @case ('menu') {
    <svg ibmIconMenu [size]="iconSize"></svg>
  }
  @case ('radioButton') {
    <svg ibmIconRadioButton [size]="iconSize"></svg>
  }
  @case ('radioButtonChecked') {
    <svg ibmIconRadioButtonChecked [size]="iconSize"></svg>
  }
  @case ('settingsAdjust') {
    <svg ibmIconSettingsAdjust [size]="iconSize"></svg>
  }
  @case ('settings') {
    <svg ibmIconSettings [size]="iconSize"></svg>
  }
  @case ('edit') {
    <svg ibmIconEdit [size]="iconSize"></svg>
  }
  @case ('checkboxChecked') {
    <svg ibmIconCheckboxChecked [size]="iconSize"></svg>
  }
  @case ('cloudApp') {
    <svg ibmIconCloudApp [size]="iconSize"></svg>
  }
  @case ('bullhorn') {
    <svg ibmIconBullhorn [size]="iconSize"></svg>
  }
  @case ('buildingInsights1') {
    <svg ibmIconBuildingInsights_1 [size]="iconSize"></svg>
  }
  @case ('tag') {
    <svg ibmIconTag [size]="iconSize"></svg>
  }
  @case ('time') {
    <svg ibmIconTime [size]="iconSize"></svg>
  }
  @case ('chevronDown') {
    <svg ibmIconChevronDown [size]="iconSize"></svg>
  }
  @case ('chevronUp') {
    <svg ibmIconChevronUp [size]="iconSize"></svg>
  }
  @case ('chevronLeft') {
    <svg ibmIconChevronLeft [size]="iconSize"></svg>
  }
  @case ('chevronRight') {
    <svg ibmIconChevronRight [size]="iconSize"></svg>
  }
  @case ('draggable') {
    <svg ibmIconDraggable [size]="iconSize"></svg>
  }
  @case ('archive') {
    <svg ibmIconArchive [size]="iconSize"></svg>
  }
  @case ('maximize') {
    <svg ibmIconMaximize [size]="iconSize"></svg>
  }
  @case ('star') {
    <svg ibmIconStar [size]="iconSize"></svg>
  }
  @case ('download') {
    <svg ibmIconDownload [size]="iconSize"></svg>
  }
  @case ('share') {
    <svg ibmIconShare [size]="iconSize"></svg>
  }
  @case ('move') {
    <svg ibmIconMove [size]="iconSize"></svg>
  }
  @case ('tableOfContents') {
    <svg ibmIconTableOfContents [size]="iconSize"></svg>
  }
  @case ('upload') {
    <svg ibmIconUpload [size]="iconSize"></svg>
  }
  @case ('package') {
    <svg ibmIconPackage [size]="iconSize"></svg>
  }
  @case ('attachment') {
    <svg ibmIconAttachment [size]="iconSize"></svg>
  }
  @case ('flag') {
    <svg ibmIconFlag [size]="iconSize"></svg>
  }
  @case ('flagFilled') {
    <svg ibmIconFlagFilled [size]="iconSize"></svg>
  }
  @case ('textBold') {
    <svg ibmIconTextBold [size]="iconSize"></svg>
  }
  @case ('textItalic') {
    <svg ibmIconTextItalic [size]="iconSize"></svg>
  }
  @case ('textUnderline') {
    <svg ibmIconTextUnderline [size]="iconSize"></svg>
  }
  @case ('printer') {
    <svg ibmIconPrinter [size]="iconSize"></svg>
  }
  @case ('overflowMenuHorizontal') {
    <svg ibmIconOverflowMenuHorizontal [size]="iconSize"></svg>
  }
  @case ('overflowMenuVertical') {
    <svg ibmIconOverflowMenuVertical [size]="iconSize"></svg>
  }
  @case ('openPanelFilledLeft') {
    <svg ibmIconOpenPanelFilledLeft [size]="iconSize"></svg>
  }
  @case ('openPanelLeft') {
    <svg ibmIconOpenPanelLeft [size]="iconSize"></svg>
  }
  @case ('openPanelRight') {
    <svg ibmIconOpenPanelRight [size]="iconSize"></svg>
  }
  @case ('locked') {
    <svg ibmIconLocked [size]="iconSize"></svg>
  }
  @case ('information') {
    <svg ibmIconInformation [size]="iconSize"></svg>
  }
  @case ('phone') {
    <svg ibmIconPhone [size]="iconSize"></svg>
  }
  @case ('subtract') {
    <svg ibmIconSubtract [size]="iconSize"></svg>
  }
  @case ('money') {
    <svg ibmIconMoney [size]="iconSize"></svg>
  }
  @case ('faceActivated') {
    <svg ibmIconFaceActivated [size]="iconSize"></svg>
  }
  @case ('purchase') {
    <svg ibmIconPurchase [size]="iconSize"></svg>
  }
  @case ('calendar') {
    <svg ibmIconCalendar [size]="iconSize"></svg>
  }
  @case ('password') {
    <svg ibmIconPassword [size]="iconSize"></svg>
  }
  @case ('location') {
    <svg ibmIconLocation [size]="iconSize"></svg>
  }
  @case ('hourglass') {
    <svg ibmIconHourglass [size]="iconSize"></svg>
  }
  @case ('inProgress') {
    <svg ibmIconInProgress [size]="iconSize"></svg>
  }
  @case ('hearing') {
    <svg ibmIconHearing [size]="iconSize"></svg>
  }
  @case ('favorite') {
    <svg ibmIconFavorite [size]="iconSize"></svg>
  }
  @case ('pin') {
    <svg ibmIconPin [size]="iconSize"></svg>
  }
  @case ('industry') {
    <svg ibmIconIndustry [size]="iconSize"></svg>
  }
  @case ('portfolio') {
    <svg ibmIconPortfolio [size]="iconSize"></svg>
  }
  @case ('exit') {
    <svg ibmIconExit [size]="iconSize"></svg>
  }
  @case ('close') {
    <svg ibmIconClose [size]="iconSize"></svg>
  }
  @case ('view') {
    <svg ibmIconView [size]="iconSize"></svg>
  }
  @case ('apps') {
    <svg ibmIconApps [size]="iconSize"></svg>
  }
  @case ('contourFinding') {
    <svg ibmIconWatsonHealthContourFinding [size]="iconSize"></svg>
  }
  @case ('save') {
    <svg ibmIconSave [size]="iconSize"></svg>
  }
  @case ('3dCursorAlt') {
    <svg ibmIconWatsonHealth_3DCursorAlt [size]="iconSize"></svg>
  }
  @case ('hashtag') {
    <!--<svg ibmIconHashtag [size]="iconSize"></svg>-->
    <svg xmlns="http://www.w3.org/2000/svg" [style.width]="iconSize" [style.height]="iconSize" viewBox="0 0 32 32">
      <defs>
        <style>
          .cls-1 {
          fill: none;
        }
      </style>
    </defs>
    <path d="M28,12V10H22V4H20v6H12V4H10v6H4v2h6v8H4v2h6v6h2V22h8v6h2V22h6V20H22V12Zm-8,8H12V12h8Z"/>
    <rect class="cls-1" [style.width]="iconSize" [style.height]="iconSize"/>
  </svg>
}
@default {
  !!!
}
}
